arrow==1.4.0
asttokens==3.0.2
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
coloredlogs==15.0.1
construct==2.10.70
construct-typing==0.8.1
cryptography==50.0.1
executing==2.2.1
hexdump==3.3
humanfriendly==10.0
idna==3.20
ifaddr==0.2.0
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
packaging==26.3
parameter-decorators==0.0.2
parso==0.8.7
prompt-toolkit==3.0.53
psutil==7.2.2
pure-eval==0.2.4
pycparser==3.0
pygments==2.21.0
pygnuutils==0.1.1
pymobiledevice3==11.15.5
pyreadline3==3.5.6
python-dateutil==2.9.0.post0
pywin32==312
questionary==2.1.1
requests==2.34.2
six==1.17.0
stack-data==0.6.3
tqdm==4.70.1
traitlets==5.16.1
typing-extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
wcwidth==0.8.4
xonsh==0.24.2
